* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Loại bỏ scroll nếu không muốn */
    font-family: Arial, sans-serif;
    
}

.background {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.background > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    
    
}

/* Chỗ chứa title và nhân vật */
.content {
    position: relative;
    z-index: 2;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 140px; /* Tạo khoảng cách trên */
}
.select-title {
    position: absolute;
    top: 22%;                         /* chỉnh vị trí theo ý */
    left: 50%;
    transform: translateX(-50%);
    
    font-size: 60px;                  /* chữ to bự */
    font-weight: 800;
    color: #b30000;                   /* đỏ Tết */
    text-shadow: 0 4px 10px rgba(0,0,0,0.25);

    letter-spacing: 4px;
    text-transform: uppercase;

    font-family: 'SVN-Avo', sans-serif; /* nếu có font Tết đẹp */
    pointer-events: none; 
}
/* Giữ nguyên flex của wrapper */
.swiper .swiper-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    pointer-events: auto;
}

/* Vị trí tổng thể của slider */
.swiper {
    width: 95%;
    max-width: 1400px;
    height: 500px;
    background: transparent;
    border-radius: 12px;
    padding: 20px 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

/* Slide */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 12px;
    transition: transform 0.3s ease;
    padding: 10px;
}

/* Hover phóng to */
.swiper-slide:hover {
    transform: scale(1.10);
}

/* Ảnh bên trong */
.frame {
    max-width: 550px;
    max-height: 450px;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
    cursor: pointer;
}

/* NÚT NEXT & PREV */
.swiper-button-next,
.swiper-button-prev {
    color: #b30000;
    font-weight: bold;
    background: rgba(203, 174, 132, 0.9);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

/* Chỉnh lại vị trí nút 2 bên */
.swiper-button-next {
    right: -50px;   /* nằm bên phải */
    left: auto;
}

.swiper-button-prev {
    left: -50px;    /* nằm bên trái */
    right: auto;
}
