/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    min-height: 100%;
    overflow-x: hidden;
}

/* BACKGROUND */
.background {
    position: relative;
    min-height: 100svh; /* ổn định mobile */
    width: 100%;
}

/* Background image */
.bg-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* CONTENT */
.content {
    position: relative;
    z-index: 2;

    min-height: 100svh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 4vh;
    padding: 4vh 2vw;
}

/* TITLE */
.title {
    width: min(35%, 480px);
    height: auto;
}

/* CHARACTER */
.character-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.character {
    width: min(40vw, 560px);
    height: auto;
}

/* BUTTON GROUP */
#select-button {
    position: absolute;
    bottom: 2%;
    left: 66%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 20px;
}
#uploadphoto-button {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row !important;
    align-items: center;
    flex-wrap: nowrap;
}
#takephoto-button {
    position: absolute;
    bottom: 2%;
    left: 82%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap;
}
button {
    background: linear-gradient(145deg, #ffeead, #f0c05a);
    border: 4px solid #8b5c2c;
    border-radius: 22px;

    box-shadow:
        0 0 25px rgba(231, 202, 116, 0.6),
        inset 0 2px 6px #fff6c3,
        inset 0 -2px 6px #c79d32;

    color: #9f1c1c;
    font-family: 'Brush Script MT', cursive, serif;
    font-size: 1.8rem;

    padding: 15px 15px;
    cursor: pointer;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: auto;
    white-space: nowrap;
}

button:hover {
    transform: translateY(-2px);
    box-shadow:
        0 0 35px rgba(243, 138, 39, 0.8),
        inset 0 2px 8px #fff9d2,
        inset 0 -2px 8px #c6aa5a;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .title {
        width: 60%;
    }

    .character {
        width: 70vw;
    }

    button {
        font-size: 1.2rem;
        padding: 5px 10px;
    }
}
