/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= BODY ================= */
body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* ================= BACKGROUND ================= */
.background {
    position: relative;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
}

.background > img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* ================= CONTENT ================= */
.content {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ================= TITLE ================= */
.select-title {
    margin-top: 14vh;

    font-size: clamp(36px, 5vw, 60px);
    font-weight: 800;
    color: #b30000;
    text-shadow: 0 4px 10px rgba(0,0,0,0.25);

    letter-spacing: 4px;
    text-transform: uppercase;
    pointer-events: none;
}

/* ================= SLIDER ================= */
.frame-slider-container {
    width: 65%;
    display: flex;
    justify-content: center;
}


/* Tổng thể swiper */
.swiper {
    width: 100%;
    max-width: 900px;
    height: 500px;

    margin-top: 4vh;
    padding: 10px 0;
}

/* Wrapper */
.swiper .swiper-wrapper {
    display: flex;
    align-items: center;
}

/* Slide */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 14px;
    transition: transform 0.25s ease;
}

.swiper-slide:hover {
    transform: scale(1.05);
}


/* Frame image */
.frame {
    width: clamp(120px, 7vw, 220px);
    height: auto;
    object-fit: contain;
    border-radius: 14px;
    cursor: pointer;
}

/* ================= BUTTON NEXT / PREV ================= */
.swiper-button-next,
.swiper-button-prev {
    color: #b30000;
    background: rgba(203, 174, 132, 0.95);

    width: 48px;
    height: 48px;
    border-radius: 50%;

    box-shadow: 0 0 8px rgba(0,0,0,0.25);
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 550px) {
    .swiper-slide{
        margin: 0 80px;
    }
}
